/SignalMonitoring.API/.vs/SignalMonitoring.API/config/applicationhost.config
/SignalMonitoring.API/.vs/SignalMonitoring.API/DesignTimeBuild/.dtbcache
/SignalMonitoring.API/.vs/SignalMonitoring.API/v16/Server/sqlite3/db.lock
/SignalMonitoring.API/.vs/SignalMonitoring.API/v16/Server/sqlite3/storage.ide
/SignalMonitoring.API/.vs/SignalMonitoring.API/v16/Server/sqlite3/storage.ide-shm
/SignalMonitoring.API/.vs/SignalMonitoring.API/v16/Server/sqlite3/storage.ide-wal
/SignalMonitoring.API/bin/Debug/netcoreapp2.2/appsettings.Development.json
/SignalMonitoring.API/bin/Debug/netcoreapp2.2/appsettings.json
/SignalMonitoring.API/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/SignalMonitoring.API/bin/Debug/netcoreapp2.2/SignalMonitoring.API.deps.json
/SignalMonitoring.API/bin/Debug/netcoreapp2.2/SignalMonitoring.API.runtimeconfig.dev.json
/SignalMonitoring.API/bin/Debug/netcoreapp2.2/SignalMonitoring.API.runtimeconfig.json
/SignalMonitoring.API/obj/Debug/netcoreapp2.2/SignalMonitoring.API.AssemblyInfo.cs
/SignalMonitoring.API/obj/Debug/netcoreapp2.2/SignalMonitoring.API.csproj.FileListAbsolute.txt
/SignalMonitoring.API/obj/Debug/netcoreapp2.2/SignalMonitoring.API.RazorAssemblyInfo.cs
/SignalMonitoring.API/obj/project.assets.json
/SignalMonitoring.API/obj/SignalMonitoring.API.csproj.nuget.dgspec.json
/SignalMonitoring.API/obj/SignalMonitoring.API.csproj.nuget.g.props
/SignalMonitoring.API/obj/SignalMonitoring.API.csproj.nuget.g.targets
